 @import '../../stylesheet/vars.css';
@import '../../stylesheet/fonts.css';



.addButton {
  font-family: 'Circe', sans-serif; 
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: tomato;
  background-color: tomato; 
  border: 1px solid var(--accent-text-color);
  border-radius: 25px; 

  padding: 13px 61px; 
  width: 150px; 
  height: 50px;

  cursor: pointer;
}

.eee button{
  background-color: tomato;
width: 150px;
    
    height: 50px;
}
