 @import '../../stylesheet/vars.css';
@import '../../stylesheet/fonts.css';



.addButton {
position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 40px;
  right: 40px;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #24CCA7;
  z-index: 50;
  transition: 190ms linear;
  
  
}

.addButton:hover {
  color: #4A56E2;
  
  /* box-shadow: 0px 6px 15px rgba(36, 204, 167, 0.5); */
}











