.container {
  position: relative;
  width: 280px;
  margin-top: 8px;
}
.doughnut {
  width: 100% !important;
  height: 100% !important;
}

.expense {
  font-family: 'Circe';
  font-weight: 700;
  position: absolute;
  font-size: 18px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .container {
    width: 336px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 280px;
    margin-top: 8px;
  }
}
