@import '../../stylesheet/vars.css';
@import '../../stylesheet/fonts.css';

/*Mobile*/

.dashboard {
  background-color: var(--primary-background-color);
}
.dashboard__content {
  padding: 12px 20px;
}

.dashboard__navigation {
  margin-bottom: 15px;
}
.dashboard__balance {
  margin-bottom: 32px;
}
.dashboard__currency {
  margin-bottom: 28px;
}

/*Tablet*/
@media screen and (min-width: 768px) {
  .dashboard__content {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
  .dashboard__left,
  .dashboard__right {
    width: calc(100% / 2 - 16px);
  }
  .dashboard__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .dashboard__balance,
  .dashboard__currency,
  .dashboard__navigation {
    margin: 0;
  }
  .dashboard__navigation {
    padding-top: 8px;
  }
  .dashboard__content {
    padding: 32px 32px;
  }
}

/*Desktop*/
@media screen and (min-width: 1280px) {
}
