@import '../../stylesheet/vars.css';
@import '../../stylesheet/fonts.css';

/*Mobile*/

.dashboard {
  background-color: var(--primary-background-color);
}
.dashboard__content {
  padding: 12px 20px;
}

.dashboard__navigation {
  margin-bottom: 15px;
}
.dashboard__balance {
  margin-bottom: 32px;
}
